*.db
.vscode
*__pycache__
6深圳_携程图像文本
*.pt

# Docker
*.tar
*.tar.gz
docker-compose.override.yml

# Python
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.closed

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
data/
!data/.gitkeep
!data/**/.gitkeep
*.dump


# Models
models/
dumps/
part_aa
