*.db
.vscode
*__pycache__
6深圳_携程图像文本
*.pt

# Docker
*.tar
*.tar.gz
docker-compose.override.yml

# Python
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.closed

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
data/
!data/.gitkeep
!data/**/.gitkeep
*.dump
src/dashboard/data script/final_dump_fixed.sql

# Models
Qwen_models/
dumps/
part_aa
*.pkl
*.bin


src/dashboard/db/init/dashboard_database.dump
