# Ignore database data folders
postgres_data

# Ignore Python cache files
__pycache__
.pyc

# Ignore environment variable files (if sensitive data is used)
.env

# Ignore system files
.DS_Store
Thumbs.db